@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap');

:root {
    --black: #18181A;
    --blue: #408DA1;
    --lightblue: #4DFFF3;
    --gray: #BFB9B0;
    --silver: #8FAAB0;
    --oxygen: 'Oxygen', sans-serif;
    --oxygen-mono: 'Oxygen Mono', monospace;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    overflow-x: hidden;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
    width: 100%;
    height: 1000px;
    background-color: var(--black);
    color: var(--gray);
    font-family: var(--oxygen);
    transition: 0.5s;
}

.introduction-container h2 {
    background-color: darkorange;
    padding: 0 15px 5px 15px;
    color: white;
    font-size: 64px;
    margin: 10px 100px 20px;
    transition: 0.5s;
    width: 500px;
}

.introduction-container p:first-child {
    color: var(--blue);
    font-size: 36px;
    transition: 0.5s;
}

.introduction-container p {
    font-size: 24px;
    margin: 5px 0;
    width: 83.33%;
    transition: 0.5s;
}

a {
    color: var(--silver);
}

a:hover {
    color: var(--blue);
}

.contact-me-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--oxygen);
    font-weight: bold;
    color: white;
    overflow-x: hidden;
}

.contact-me-container > h2 {
    margin: 0;
}

.contact-me-container > p {
    text-align: center;
    width: 300px;
    font-size: 1.1rem;
}

.contact-me-container > a {
    margin-top: 10px;
    padding: 15px;
    background-color: darkmagenta;
    border: 2px solid var(--lightblue);
    border-radius: 20px;
    color: violet;
    text-decoration: none;
}

.contact-me-container > a:hover {
    color: var(--blue);
}

nav > ul:first-child {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin: 10px 0 0 0;
    padding-bottom: 5px;
    padding-left: 0;
    background-color: var(--black);
}

nav > ul > ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 0;
}

nav h1 {
    font-size: 1.5rem;
    margin: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: var(--oxygen-mono);
    display: block;
    padding: 10px;
    margin-bottom: 5px;
}

nav a:hover {
    color: var(--lightblue);
    text-decoration: none;
    font-family: var(--oxygen-mono);
}

nav [class*="fa-"] {
    font-size: 150%;
}

nav li:nth-child(4) a {
    padding: 7px;
}

nav li:nth-child(5) a {
    padding: 7px;
}

nav li:nth-child(6) a {
    border-radius: 5px;
    background-color: deeppink;
}

nav li:nth-child(6) a:hover {
    background-color: violet;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    width: 100%;
    height: 200px;
    font-family: var(--oxygen);
    color: white;
    overflow: hidden;
}

footer h2 {
    font-weight: normal;
}

footer section {
    display: flex;
    gap: 10px;
}

footer p {
    font-family: var(--oxygen-mono);
}

footer span {
    font-size: 300%;
}

footer a:hover {
    color: white;
}

.portfolio-container {
    width: 100%;
    height: 2000px;
    background: rgb(24,24,26);
    background: linear-gradient(180deg, rgba(24,24,26,1) 0%, rgba(128,0,128,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 100px;
}


.project {
    display: flex;
    color: white;
}

.project p {
    font-family: var(--oxygen-mono);
}

.project h2{
    font-family: var(--oxygen);
    font-size: 42px;
}

.project span {
    font-size: 300%;
}

.second-project {
    flex-direction: row-reverse;
}

.project img {
    border-radius: 30px;
    width: 80%;
    height: fit-content;
    -webkit-height: fit-content;
    -moz-height: fit-content;
}

.first-project img {
    border: 3px solid brown;
}

.second-project img {
    border: 3px solid darkorange;
}

.project div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.project-description {
    flex-direction: column;
}

.second-project .project-description {
    align-items: flex-end;
}

.second-project .project-description p {
    text-align: right;
    padding: 20px 0 20px 20px;
}

.first-project .project-description p {
    padding: 20px 20px 20px 0;
}

.page-breaker {
    width: 100%;
    height: 2px;
    background: rgb(10,5,96);
    background: linear-gradient(90deg, rgba(10,5,96,1) 0%, rgba(115,11,84,1) 40%, rgba(115,11,84,1) 60%, rgba(10,5,96,1) 100%);
}

@media only screen and (min-width: 2000px) {
    .portfolio-container {
        height: 3000px;
        padding: 0 300px 0 300px;
    }

    .introduction-container {
        height: 1600px;
        padding: 0 300px 0 300px;
    }

    p {
        font-size: 26px;
    }

    h2 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 950px) {
    nav > ul:first-child {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1300px) {
    .introduction-container {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 750px) {
    .introduction-container h2 {
        font-size: 48px;
        width: 380px;
    }

    .introduction-container p:first-child{
        font-size: 32px;
    }

    .introduction-container p {
        font-size: 20px;
    }

    .introduction-container {
        height: 750px;
    }

    .portfolio-container {
        height: 1500px;
    }

    .project p {
        font-size: 14px;
    }

    .project h2 {
        font-size: 18px;
    }

    .project img {
        width: 90%;
    }
}

@media only screen and (max-width: 610px) {
    .introduction-container h2 {
        font-size: 36px;
        width: auto;
        padding: 5px;
        margin: 10px 0;
    }

    .introduction-container p:first-child{
        font-size: 20px;
    }

    .introduction-container p {
        font-size: 16px;
        margin: 0;
        padding: 0;
        width: auto;
        text-align: center;
    }

    .introduction-container {
        height: 610px;
        padding: 20px;
        align-items: center;
        gap: 5px;
    }

    .portfolio-container {
        height: 2500px;
    }

    .project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-description {
        justify-content: center !important;
        align-items: center !important;
    }

    .project div {
        width: 100%;
    }

    .project h2 {
        font-size: 28px;
    }

    .project p {
        text-align: center !important;
        padding: 10px !important;
        font-size: 18px;
    }
}

@media only screen and (max-width: 455px) {
    .introduction-container h2 {
        margin: 10px 0;
        font-size: 22px;
    }

    .introduction-container p:first-child{
        font-size: 18px;
    }

    .introduction-container p {
        font-size: 14px;
    }

    .introduction-container {
        height: 600px;
    }

    .portfolio-container {
        height: 2200px;
    }

    footer h2 {
        font-size: 16px;
    }

    footer p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) {
    .introduction-container p:first-child{
        font-size: 18px;
    }

    .introduction-container {
        height: 650px;
    }

    .portfolio-container {
        height: 1900px;
    }
}